<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/admin-page-style.css}" />
</head>
<body>
<div id="container">
  <h3>What would you like to do?</h3>
  <div class="action-buttons">
    <a href="/admin/create-course"><button>Create a course</button></a>
    <a href="/admin/delete-course"><button>Delete a Course</button></a>
    <a href="/admin/create-user"><button>Create a user</button></a>
    <a href="/admin/delete-user"><button>Delete a user</button></a>
  </div>
</div>
</body>
</html>
